<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>107716743267-he9ooop06camro45328mle5psi2morg4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.107716743267-he9ooop06camro45328mle5psi2morg4</string>
	<key>API_KEY</key>
	<string>AIzaSyCB1CMrQdf5QRK24XknWgUAJloNu9BdzDA</string>
	<key>GCM_SENDER_ID</key>
	<string>107716743267</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>YellowBird.dev.Reese-ources</string>
	<key>PROJECT_ID</key>
	<string>reesewall-cloudkit</string>
	<key>STORAGE_BUCKET</key>
	<string>reesewall-cloudkit.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:107716743267:ios:c2d21ca65596174132a856</string>
</dict>
</plist>